p {
    text-indent: 60px;
}

.Inside {
    margin-left: 150px;
    font-size: 60px;
    margin-top: -95px;    
      
}

hr {
    margin-top: -80px;
    background-color: darkolivegreen;
    border-color: #383838;
    border: 2px solid;

}

.txt2 {
    text-indent: 60px;

}

img {
    border: 2px solid;
    -webkit-transition: all 1s ease;

}

img:hover {
    -webkit-transform:scale(1.25);

}

.img2 {
    border: 1px;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: -200px;
    padding-top: -10px; 
    opacity: 0.8;
    
}

.img3 {
    margin-top: -70px;

}



.img4 {
    border: 1px;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: -200px;
    padding-top: -10px; 
    opacity: 0.9;
    
}

.img4 {
    margin-top: -43px;
    margin-left: 615px;

}

#bgi {
    background-image: url(img2.jpg);
    width: 500px;
    height: 319px;
    margin-left: 67px;
    margin-top: 10px;
    -webkit-transition: all 1s ease;

}

#bgi:hover {
    -webkit-transform:scale(1.0);

}
